body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(176deg, #f9d5d3, #eca4a6, #807f89, #99a89e, #bbc7ba, #d7dbd1);
  background-size: 1200% 1200%;
  
  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  animation: AnimationName 24s ease infinite;
} 
  @-webkit-keyframes AnimationName {
      0%{background-position:52% 0%}
      50%{background-position:49% 100%}
      100%{background-position:52% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:52% 0%}
      50%{background-position:49% 100%}
      100%{background-position:52% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:52% 0%}
      50%{background-position:49% 100%}
      100%{background-position:52% 0%}
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.white{
  
  color: white;

}

h1 {
  font-family: 'Shadows Into Light';
    color: white;
    padding-top: 5vh;
}